<div *ngIf="emitDisplay == 0 || emitDisplay == 1">

<nav class="navbar navbar-expand-lg bgcolor-white header-box-shadow">
    <div class="container-fluid">
      <div class="d-flex align-items-center">
        <!-- <div *ngIf="authService.verifyUser()"> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        <!-- </div> -->
        <div>
          <a class="navbar-brand" routerLink="/">
            LOGO
          </a>
        </div>
      </div>
      
  
      <div class="d-flex align-items-center">
      
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">LOGO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <!-- <div *ngIf="authService.verifyUser()"> -->
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link" data-bs-dismiss="offcanvas" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                 routerLink="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-dismiss="offcanvas" routerLinkActive="active" routerLink="/booking">booking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-dismiss="offcanvas" routerLinkActive="active" routerLink="/profile">Profile</a>
              </li>
            </ul>
          <!-- </div> -->
        </div>
      </div>



      <div class="px-2">
        <p class="m-0">Location</p>
        <p class="m-0 location">Uttar Pradesh</p>
      </div>
  

      <!-- 
  

    
        <div class="p-2" *ngIf="!authService.verifyUser()">
          <button routerLink="/Auth/signup" type="button" class="btn btn-sm border-dark ">Sign Up</button>
        </div>
      
        <div class="p-2" *ngIf="!authService.verifyUser()">
          <button routerLink="/Auth/login" type="button" class="btn btn-sm btn-dark">Login</button>
        </div>    
        
        <div class="p-2" *ngIf="authService.verifyUser()">
          <button (click)="logoutUser()" type="button" class="btn btn-sm btn-dark">Logout</button>
        </div> -->
  
    </div>
  
  
    </div>
  </nav>
  </div>